# Core functionality - changes here should be rare!
/src/app.py                   @Cameron-Batts
/src/backend/database.py      @Cameron-Batts
/src/backend/routers/auth.py  @Cameron-Batts

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Cameron-Batts
